<ul id="footerNav" class="clearthis">
	<li>
		<a id="footerAbout" href="https://www.akana.com/products/akana-platform-overview" class="ext">About</a>
	</li>
	<li>
		<a id="footerContact" href="#/home/support">Contact</a>
	</li>
	<li>
		<a id="footerTerms" href="/content/home/landing/platform_agreement.html" class="dialog">Terms</a>
	</li>
	<li>
		<a id="footerPrivacy" href="https://www.akana.com/company/soa_software_privacy_policy" class="ext">Privacy</a>
	</li>
	<li id="footerLegal" class="legal">
		{{{i18n "com.soa.atmosphere.footer.legal"}}}
	</li>
</ul>
<!-- <div id="footerNav" class="p-4 bg-dark text-white">
<div class="container">
    <div class="row">
        <div class="col">
            <h4>APEX</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <ul class="footer-bottom-list">
                <li><a href="#">Report Vulnerability</a></li>
                <li><a href="#">Privacy Statement</a></li>
                <li><a href="#">Terms of use</a></li>
                
            </ul>
        </div>
        <div class="col text-right">
            <!-- <small>©{{ site.time | date: "%Y" }} Government Technology Agency of Singapore. All Rights Reserved. v{{site.version}}</small> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->
<!-- </div> -->