{% if page.title == "Get Started" %}
<a class="nav-link active" id="v-pills-about-tab" data-toggle="tab" href="#v-pills-about" role="tab" aria-controls="v-pills-aboutApex" aria-selected="true">About Apex</a>
<a class="nav-link" id="v-pills-benefits-tab" data-toggle="tab" href="#v-pills-benefits" role="tab" aria-controls="v-pills-benefits" aria-selected="false">Benefits</a>
<a class="nav-link" id="v-pills-offerings-tab" data-toggle="tab" href="#v-pills-offerings" role="tab" aria-controls="v-pills-offerings" aria-selected="false">Service Offerings</a>
<a class="nav-link" id="v-pills-spec-tab" data-toggle="tab" href="#v-pills-spec" role="tab" aria-controls="v-pills-spec" aria-selected="false">Specfications</a>
<a class="nav-link" id="v-pills-calculator-tab" data-toggle="tab" href="#v-pills-calculator" role="tab" aria-controls="v-pills-calculator" aria-selected="false">AU Calculator</a>
<a class="nav-link" id="v-pills-tnc-tab" data-toggle="tab" href="#v-pills-tnc" role="tab" aria-controls="v-pills-tnc" aria-selected="false">Terms & Conditions</a>
{% elsif page.title == "Learn Essentials" %}
<a class="nav-link active" id="v-pills-overview-tab" data-toggle="tab" href="#v-pills-overview" role="tab" aria-controls="v-pills-overview" aria-selected="true">Overview</a>
<a class="nav-link" id="v-pills-preperations-tab" data-toggle="tab" href="#v-pills-preperations" role="tab" aria-controls="v-pills-preperations" aria-selected="false">Preperations</a>
<a class="nav-link" id="v-pills-userGuide-tab" data-toggle="tab" href="#v-pills-userGuide" role="tab" aria-controls="v-pills-userGuide" aria-selected="false">User Guide</a>

<small class="mt-4 text-grey-500">For Providers</small>
<a class="nav-link border-0" id="v-pills-pv-projects-tab" data-toggle="tab" href="#v-pills-pv-projects" role="tab" aria-controls="v-pills-pv-projects" aria-selected="false">Projects</a>
<a class="nav-link" id="v-pills-pv-create-apis-tab" data-toggle="tab" href="#v-pills-pv-create-apis" role="tab" aria-controls="v-pills-pv-create-apis" aria-selected="false">Creating APIs</a>

<small class="mt-4 text-grey-500">For Consumer</small>
<a class="nav-link border-0" id="v-pills-con-create-app-tab" data-toggle="tab" href="#v-pills-con-create-app" role="tab" aria-controls="v-pills-con-create-app" aria-selected="false">Creating an APP</a>
<a class="nav-link" id="v-pills-con-access-apis-tab" data-toggle="tab" href="#v-pills-con-access-apis" role="tab" aria-controls="v-pills-con-access-apis" aria-selected="false">Accessing APIs</a>

{% endif %}